services:
  socket-proxy:
    image: tecnativa/docker-socket-proxy
    hostname: muspelheim-docker
    networks:
      - aether-net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      CONTAINERS: 1
      SERVICES: 1
      TASKS: 1
      NETWORKS: 1
      NODES: 1
    restart: always

  portainer-agent:
    image: portainer/agent:latest
    networks:
      - aether-net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      # Required when deploying via docker compose on a swarm node to avoid "tasks." lookup error
      AGENT_CLUSTER_ADDR: portainer-agent
    restart: always

networks:
  aether-net:
    external: true
