version: "3.8"
services:
  portainer-agent:
    image: portainer/agent:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
    networks:
      - aether-net
    ports:
      - "9001:9001"
    environment:
      # Required when declaring agent on a swarm node via compose to avoid "tasks." lookup
      AGENT_CLUSTER_ADDR: portainer-agent
    restart: always

networks:
  aether-net:
    external: true
